<script>
import Readme from '../../../README.md' 
</script>

Welcome to my website! I'm a back-end wizard and AI enthusiast currently slaying code at a startup. I spend my days chatting with machines and making them do my bidding.
When it comes to programming, I'm not afraid to take risks and push boundaries. I'm always tinkering with new technologies and experimenting with novel approaches. Whether it's optimizing databases or training neural networks, I'm always ready to dive into the deep end.
So, take a look around my website and see what I've been up to. Who knows, maybe you'll find something that inspires you to join me on my quest for technological domination.

<Readme /> 